<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Tracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="./app.js" defer></script>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="shortcut icon" href="./static/travel.svg" type="image/x-icon">
</head>
<body>
    <main ng-app="travelTrackerApp" ng-controller="appController">

        <header>
            <h1>Travel Tracker</h1>
            <p class="description">Count the number of countries you have travelled to...</p>

            <div class="stats">
                <p>{{selectedCountryCount}} of {{allCountries.length}} countries visited</p>
                <p>{{((selectedCountryCount / allCountries.length) * 100).toFixed(2)}}% of the world</p>
            </div>
            
            <div class="search">
                <input ng-model="countryFilter" type="search" name="countrySearch" placeholder="Enter a country..." />
                <img src="./static/down-arrow.svg" alt="Downwards arrow icon">
            </div>

            <div>
                <input type="button" value="{{toggleButtonValue}}" ng-click="toggleView()">
                <input type="button" value="Reset Selection" ng-click="clearAll()">
            </div>
        </header>

        <form>
            <div ng-repeat="country in countries | filter: countryFilter">
                <input value="{{country}}" id="{{country}}" type="checkbox" ng-checked="countrySelectionMap[country]" ng-click="toggleSelection(country)" />
                <label for="{{country}}">{{country}}</label>
            </div>
        </form> 

    </main>
</body>
</html>