body{
    margin: 0;
    font-family: system-ui, "Roboto";
}

main{
    height: 100vh;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 560px) {
    h1{
        text-align: left;
    }
}

.description{
    margin: 0;
    font-size: 18px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}

.stats p{
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #444;
    padding: 8px 16px;
    margin: 0 0 10px;
}

@media (min-width: 560px) {
    .stats{
        flex-direction: row;
        margin: 35px 0;
    }

    .stats p{
        margin: 0 10px;
    }
}

header > div:not(.stats){
    margin: 10px 0;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

img{
    width: 30px;
}

input{
    padding: 5px 10px;
}

input[type="button"]{
    width: 145px;
    margin-right: 5px; 
}

input, label{
    font-size: 18px;
    font-family: inherit;
}

form{
    overflow-y: scroll;
    height: calc(100vh - 407px);
    margin-top: 15px;
}

@media (min-width: 560px) {
    form{
        height: calc(100vh - 338px);
    }
}

div:has(> input[ng-checked="true"]){
    text-shadow: 0 0 15px grey;
}

input[type="checkbox"]{
    accent-color: #3591dc;
}
